<form id="commentForm">
  <div class="form-group">
    <label for="textInput">Add a Comment!</label>
    <textarea
      class="form-control"
      id="textInput"
      rows="3"
      placeholder="Type your text here"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="submitComment">Submit
    Comment</button>
</form>