<form method="POST">
  <div class="mb-3">
    <label for="description" class="form-label">Add a Comment!</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="submitComment">Submit
    Comment</button>
</form>