{{!-- {{#each comments as |comment|}} --}}
<div class="card">
<div class="card-body commentCard">
    <p class="card-text">Comment text</p>
    {{!-- {{comment_body}} --}}
    <p class="card-text text-muted text-end byTag">
    {{!-- {{user.name}} --}}
    user name on date
    </p>
    {{!-- {{format_date date_created}} --}}
</div>
</div>