{{!-- These are the cards generated to show the user their own posts in their dashboard  --}}

          <div class="user-blog-post">
            <h2>Title</h2>
            <p>Posted on </p>
          </div>
