{{! When a user clicks the add post button in their dashboard they will go here }}

<div class="card createCard">
  <div class="card-body">
    <h5 class="card-title">New Post</h5>
    <form id="userInputForm">
      <div class="form-group">
        <label for="titleInput">Title:</label>
        <input
          type="text"
          class="form-control"
          id="titleInput"
          placeholder="Enter title"
        />
      </div>
      <div class="form-group">
        <label for="textInput">Text:</label>
        <textarea
          class="form-control"
          id="textInput"
          rows="3"
          placeholder="Type your text here"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <p class="card-text text-muted text-end byTag" id="userOutput"></p>
  </div>
</div>
<script src="/js/newPost.js"></script>