{{!-- These are the cards where a user sees their previous posts in their dashbaord  --}}
<div class="content">
    {{#if onDashboard}}
    <h1>Welcome to Your Dashboard, {{username}}!</h1>
    {{> dashboardCard }}
</div>
{{!-- Button to create a post --}}
