{{!-- Homepage, should see other users posts  --}}
<div class="content">
    {{#if blogPosts.length}}
    {{#each blogPosts as |blogPost|}}
    {{> dashboardCard blogPost}}
    {{/each}}
    {{/if}}
</div>