{{!-- Login page with button to go to a sign up page --}}
<div class="loginPage">
<div class="col loginSignUpCards">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <input class="form-input" type="text" id="email-login" placeholder="Email"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="loginButton" type="submit">Login</button>
      </div>
    </form>
  </div>
<a href="/signup">Sign Up</a>
</div>
</div>
<script src="./js/login.js"></script>