body {
    background-color: #faf0e6;
    height: 300vh; 
    margin: 0; 
    cursor: url('/images/Black_Circle.png'), auto;
}

a:hover, .btn:hover, .button:hover, .form-input:hover, .form-group:hover {
    cursor: url('/images/Black_CircleHover.png'), auto !important;
}

.navbar {
    height:10vh;
}

.navbar-brand {
    font-family: 'Cinzel';
    letter-spacing: .15em;
    font-size: 2.5rem !important;
    text-shadow: 
    -1px -1px 1px #efede3, 
    0px 1px 0 #2e2e2e, 
}

.nav-item {
    font-family: Ogg-Medium;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.card {
    max-width: 80vw;
    margin: auto;
    margin-top: 1rem;
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    transition: transform .5s ease-in-out; 
}

.card-body {
    box-sizing: border-box;
    padding: 10px;
    background: transparent;
    box-shadow: 1px 1px 4px black;
}

.card-title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

.card-text {
    font-family: 'Archivo Narrow';
}

.byTag {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card:hover {
    transform: scale(1.02); 
  }

.login-card, .signup-card {
    width: 12%; 
    margin: auto; 
    margin-top: 15%;
    padding: 20px; 
    box-shadow: 1px 1px 20px 3px black;
    background: transparent;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    margin-top:10px;
}

.signup-button {
    text-decoration: none;
    color:black;
}

#editBtn a {
    color: white;
    text-decoration: none;
}

#createPostBtn a {
    color:black;
    text-decoration: none;
}

.commentLink {
    color:black;
    text-decoration: none;
}